* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-black-color: #212121;
    --primary-black-color: #757575;
    --primary-black-color: #ffffff;

    --accent-color: #2196f3;
    --background-black: #21303a;
    --background-gray: #f5f4fa;
    --button-primary-hover: #188ce8;
    --logo-black: #000000;
    --text-white-opacity: #ffffff99;
}

a {
    text-decoration: none;
}

.header-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
/* identical to box height */

    text-align: right;
    letter-spacing: 0.03em;
    color: var(--accent-color);

}

.header-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--accent-color);

}

.header-links {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.header-links-portafolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;
}

.header-links-studio {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #2196F3;
}

.header-list :is(:focus, :hover) {
    color: #2196F3;
}

.header-email:is(:focus, :hover) {
    color: #2196F3;
}

.header-telephone:is(:focus, :hover) {
    color: #2196f3;
}

.list-two {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--logo-black);
}

.list-trhee {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--logo-black);
}

.header-email {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #2196f3;
}

.header-telephone {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #757575;
}

.header-email-info {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #757575;
}

.title-primary {
        width: 1295px;
        height: 120px;
        left: -2px;
        top: 80px;
        background: #2F303A;
}
.title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}

.button-primary {
    width: 197px;
        height: 30px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    
        color: #FFFFFF;
}

.button-primary {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 32px;
        gap: 10px;
        width: 261px;
        height: 50px;
        left: 666px;
        top: 430px;
        background: #2196F3;
}

.section-description {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}

.description {
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
}

.text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}

.name {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}

.profession {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}

.webstudio {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #2196F3;
}

.direction {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.footer {
        width: 1300px;
        height: 100x;
    
        background: #2F303A;
}

.direction-one {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
      letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
}

.direction-two {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.buttons {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}

.button-all {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
        width: 73px;
        height: 38px;
        left: calc(50% - 73px/2 - 268.5px);
        top: calc(50% - 38px/2 - 735px);
    
        background: #2196F3;
        /* shadow-middle */
    
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
}

.portafolio-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
    
        color: #212121;
}

.portafolio-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
}
.find {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #FFFFFF;
}
.social-networks {
    left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    
        background: rgba(255, 255, 255, 0.1);
}