* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-black-color: #212121;
    --primary-black-color: #757575;
    --primary-black-color: #ffffff;

    --accent-color: #2196f3;
    --background-black: #21303a;
    --background-gray: #f5f4fa;
    --button-primary-hover: #188ce8;
    --logo-black: #000000;
    --text-white-opacity: #ffffff99;
}

.logo{
    
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
        color: #2196F3;
        cursor: pointer;
}
.a{
    text-decoration: none;
}

.nav-page{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.page-one {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #2196F3;
}
.page-one-webstudio{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}
.page-two-portafolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;
}
.page-two{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}
.page-trhee{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.item-info {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #2196F3;
}
.item-telephone{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

#title {
    position: absolute;
        width: 1300px;
        height: 50px;
        left: -4px;
        top: 80px;
        background: #2F303A;
        
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 900;
            font-size: 44px;
            line-height: 60px;
            /* or 136% */
        
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        
            color: #FFFFFF;
}

.button-primary{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    background: #2196F3;;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.section-one {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}
.description {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
}
.text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}

.name{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}

.profession{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;
}
.footer{
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 2158px;
    
        background: #2F303A;
}

.link{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #2196F3;
}
.direction{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
}
.direction-one{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}
.direction-two{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}
.buttons {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    letter-spacing: 0.03em;

    color: #FFFFFF;
}
.button-all {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */
    
        text-align: center;
        letter-spacing: 0.03em;
        background: #2196F3;
        color: #FFFFFF;
}
.portafolio-title {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    cursor: pointer;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;

    color: #212121;
}
.portafolio-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
}